<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Point this at your SQL Server after running Database/schema.sql -->
    <add name="TeamCollab"
         connectionString="Server=localhost;Database=TeamCollab;Integrated Security=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Set to "true" once system.net/mailSettings below is configured;
         until then OTP codes are written to App_Data/otp.log -->
    <add key="SmtpConfigured" value="false" />
  </appSettings>

  <!-- Uncomment and fill in to email OTP codes:
  <system.net>
    <mailSettings>
      <smtp from="TeamCollab &lt;login@yourdomain.com&gt;">
        <network host="smtp.yourprovider.com" port="587" userName="..." password="..." enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  -->

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="10080" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

  <location path="Login.aspx">
    <system.web><authorization><allow users="*" /></authorization></system.web>
  </location>
  <location path="Register.aspx">
    <system.web><authorization><allow users="*" /></authorization></system.web>
  </location>
  <location path="Styles">
    <system.web><authorization><allow users="*" /></authorization></system.web>
  </location>
</configuration>
